.container-fluid {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.recipesContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 10vh;
}

.heading {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading h1 {
  font-size: 65px;
  text-shadow: 0px 0px 20px #ffffffbd;
  font-weight: 500;
  z-index: 3;
}

.recipes {
  display: inline-grid;
  grid-template-columns: repeat( 2, 1fr );
  grid-gap: 50px;
}

.recipe {
  width: 400px;
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 0.2);
  border-radius: 7px;
}

.recipeImage {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe:hover {
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 0.3);
  cursor: pointer;
}

.recipe h2 {
  font-size: 22px;
  margin-bottom: 14px;
}