.container-fluid {
  background-color: #eef5f5;
  background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
  background-blend-mode: screen, overlay;
  padding-bottom: 8vh;
}

.recipesContainer, .profileDetails {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  padding-left: 15vw;
  padding-right: 15vw;
}

mat-card {
  width: 100%;
  min-width: 600px;
}

mat-card h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.ChangePhoneNumberBtn {
  float: right;
  margin-top: 15px;
}

.CreateRecipeBtn {
  float: right;
}

.profileDetails mat-form-field {
  width: 48%;
}

.profileDetails mat-form-field:first-child {
  margin-right: 4%;
}

.heading {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading h1 {
  font-size: 65px;
  text-shadow: 0px 0px 20px #ffffffbd;
  font-weight: 500;
  width: 100%;
}

.adminWarning {
  color: rgb(236, 0, 0) !important;
  line-height: 28px;
  font-weight: 500;
  font-size: 18px;
}

table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
}

table .mat-row:hover {
  background: whitesmoke;
  cursor: pointer;
}