<div class="fullPageContainer">
  <div class="title">
    <img src="../assets/white_transparent_logo.png">
    <p>Share Recipes!</p>
  </div>
</div>

<div class="belowFullPageContainer">
  <div class="joinContainer">
    <h2>What is Snackbox?</h2>
    <p>Snackbox is a place for all your recipes. Save and publish your recipes and share them with the community. On
      Snackbox you will find great recipes, sign up today and become part of the Snackbox community!</p>
    <button mat-raised-button color="primary" routerLink='/register'>Join</button>
  </div>
</div>