.container-fluid {
  background-image: linear-gradient(109.6deg, #dff7ec 11.2%, #f4f8fc 91.1%);
}

.errorMessage {
  background-color: #ff01010d;
  padding: 14px;
  border-radius: 8px;
  border: 3px solid #e50000;
  margin-bottom: 25px;
}