.container-fluid {
  background-image: linear-gradient(109.6deg, #dff3f7 11.2%, #f4f8fc 91.1%);
}

.passwordRequirements {
  margin-top: -13px;
  margin-left: -16px;
  margin-bottom: 25px;
}

.passwordRequirements label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.passwordRequirements label i {
  margin-right: 8px;
}